/*common*/

.underline {
    text-decoration: underline;
    border-radius: 15px 5px;
    border: #112c3a;

}

/*INDEX.HTML STARTS*/

body {
    background-color: rgba(206, 206, 206, 0.205);
}
.navbar-header {
    background-color: #112c3a;
}
.blue-container {
    height: 600px;
}

.bg-white , .bg-light {
    background-color: #fff;
}

.font-color {
    color: #112c3a;
}

.text-link {
    border-bottom: #112c3a;
    border-radius:2px ;
}

.white-container {
    background-color: white;
    height: 700px;
    border-bottom: 100%;
}

.horizontal-line {
    border-top: 6px solid white;
    width: 30%;
    border-radius: 10px 10px 10px 10px;
    
}

.card-img-top {
    width: 50%;
}

.vector-1 {
      height: 350px;
      align-items: center;
      
}

.header-text{
    padding:80px;
    padding-right: 10px;
    padding-left: 30px;
}

.phosphorus {
    font-family: phosphorus;

}
.btn-top {
    border-radius: 15px;
    background-color: #112c3a9c;
}
.btn-p {
    background-color: #f46632;
    color: white;
}


.font-sub {
    font-family: Arial, Helvetica, sans-serif;
    size: 25px;
}
#sequence {
    margin-bottom: 100%;
}

/* second container - about us container*/

.company_logo {
    width: 50%;
    margin-top: 10%;
}

.about-us {
    color: rgb(48, 46, 46);
    font-family: phosphorous;
    margin-top: 200px;
}

.aboutuscontainer {
    margin-top: 200px;
    background-color: white;
}


/* second container - about us container paragraph*/


.about-us-para {
    text-align: center;
    align-items: center;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* second container */
/*---------------------------------------------*/
/* --------------------------------------------- */
/*Offer container - third container*/

.offercontainer {
     margin-top: 100px;
     margin-bottom: 50px;
     background-color: white;
}

.basic-radio-toggle-button {
    margin-top: 50px;
}

.offercontainerpara {
    margin-top: 150px;
}

/* offer container */

/*---------------------------------------------*/
/*---------------------------------------------*/
/* email container */

.emailcontainer {
    padding: 50px 30px 50px 30px;
    background-color: black;
}
.email-heading {
    margin-top: 50px;
}

.font {
    font-family: product sans;
}

.emailcontainer .form-control {
    width: 80%;
}
.email-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
/* email container */

/*---------------------------------------------*/
/*---------------------------------------------*/
/*card container*/

.form-control {
    width: min-content;
}

.card {
    margin-top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 80%;  
    border-radius: 15px 15px 15px 15px;  
    margin-bottom: 40px;
    padding: 5%;
}

.card-container {
    background-color: white;
}

.card-container .col-sm-4 {
    margin-bottom: 80px;
} 

.card-container img {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img .col-sm-6{
    width: 90%;
}

/*card container*/

/*---------------------------------------------*/
/*INDEX.HTML ENDS*/
/*-----------------------------------------------*/




/*---------------------------------------------*/
/*ABOUTUS.HTML STARTS*/
/*-----------------------------------------------*/

/*objective container */

.bg-aboutus-con3 {
    
    background-image: url("/New folder/Nebo Logo/technology-network-data-connection-1536x864.jpg");
    display: inline-block;
}

/*objective container */

/*---------------------------------------------*/
/*ABOUTUS.HTML STARTS*/
/*-----------------------------------------------*/

/*---------------------------------------------*/


/*---------------------------------------------*/
/*CAREER.HTML STARTS*/
/*-----------------------------------------------*/

.top-container {
    margin-top: 15%;
}

/*---------------------------------------------*/
/*CAREER.HTML ENDS*/
/*-----------------------------------------------*/



/*---------------------------------------------*/
/*WORKDAYSERVICE.HTML STARTS*/
/*-----------------------------------------------*/

.first-container {
    padding-top: 50px;
    margin: 10%;
}

.second-container {
    padding-top: 50px;
    margin:10%;
}
/*---------------------------------------------*/
/*WORKDAYSERVICE.HTML ENDS*/
/*-----------------------------------------------*/


/*Hover*/

/*Index.html*/

/*.aboutuscontainer span:hover {
    animation: picture1 5s infinite;
}
@keyframes picture1 {
   
  }
*/

@media (min-width: 100px) and (max-height: 700px) {
    
    .company_logo  {
        width: 60%;
        height: auto;
        
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    #sequence {
        display: none;
    }

    img.img-position.my-5 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .aboutuscontainer-para {
        margin-top: 10px;
    }

    .about-us-para {
        margin-right: 0%;
        text-align: center;
        align-items: center;
    }

   
}


@media (max-width: 980px) {
    .vector-1 {
        width: 300px;
    }

    .header-text {
        padding:0px;
        text-align: center;
     }

     .about-us {
        margin-top: 50px;
    }
   .basic-radio-toggle-button {
       margin-top: 50px;
   }
   .email-img {
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 5%;
      align-items: center;
   }
}

@media (max-width:712px) {
    .offercontainerimg {
        display: none;
   }
   .cybersecurity-img2 {
    display: none;
    }
   .offercontainerpara {
       margin-top: 20px;
   }
    .custom-dropdown {
       display: none;
   }
   body {
       background-color: white;
   }
   .email-img {
       display: none;
   }
  .cyber-img1 {
      display: none;
  }

}

@font-face {
    font-family: phosphorus;
    src: url("fonts/Market\ Fresh\ Inline\ Bold.ttf");
}


